body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: cursive;
    background-color: slateblue;
}

.container{
    background-color: white;
    width: 300px;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   border-radius: 10px;
   overflow: hidden;
   box-shadow: 0 4px 8px ;
}

.month{
    margin:0 ;
    padding: 20px;
    background-color: crimson;
    border-bottom:2px solid black ;
    font-weight: 800;
    width: 100%;
    text-align: center;
    font-size: 30px;
}

.day-name{
    color: darkgray;
    border-left: 2px solid crimson;
   
}

.day-num{
    font-size: 80px;
    margin:0;
    font-weight: bold;
}

.year{
    margin: 20px;
    font-size: 20px;
    color: darkgray;
    font-weight: 500px;
     border-left: 2px solid crimson;
}


@media (max-width: 400px){
    .container{
        width: 80%;
    }
}